body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  /* padding: 40px 0; */
  margin-bottom: 100px;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
  font: bold 24px/31px "pt_serif", arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 49%;
  transform: translateY(-50%);
  left: 4px;
  opacity: 0.7;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  padding-top: 1px;
}

.logo__circle_color_blue {
  top: 55%;
  left: 12px;
  background: #c8dbfb;
}

.logo__text {
  padding-left: 4px;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px "Roboto", arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  height: 3px;
  background: #0056ec;
}

.menu__item:last-child {
  margin-right: 11px;
}

.main {
  padding: 106px 66% 100px 3px;
  background: right 32px no-repeat url("img/mainimg.svg");
  background-size: 50%;
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 66px/87px "pt_serif", arial, helvetica, sans-serif;
}

.main__title-background {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
  margin: 0 0 41px 0;
  width: 81%;
  font: 22px/24px "Roboto", arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  padding: 14px 16px;
  font: 14px/16px "Roboto", arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}
